@{
    ViewBag.Title = "About";
}

<h2>About</h2>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam feugiat et turpis at facilisis.
 Fusce iaculis, felis vel sodales dapibus, neque erat tincidunt elit, ut suscipit magna nibh ac leo.
 Morbi a orci in enim maximus dapibus vitae eu ex. Ut a nulla quis nisi feugiat facilisis. Aenean tristique quam a hendrerit commodo. 
Vestibulum convallis nulla non magna fermentum, in efficitur tortor aliquet. Etiam nec cursus nibh. 
Suspendisse accumsan sem sit amet turpis dictum sagittis. Ut pharetra aliquam nisi, et porta velit elementum eu.
 Suspendisse id fringilla leo, eget laoreet mauris. Sed massa quam, dignissim ut erat et, vehicula tincidunt diam. 
Integer id dolor ac neque pretium euismod maximus sit amet libero. Praesent a commodo nisl, ut venenatis erat.

Ut accumsan justo iaculis sem venenatis tempor. Donec venenatis sed purus vel dictum. Nullam sollicitudin,
 est pulvinar sodales consequat, nisl urna convallis sapien, eget euismod erat lacus at erat.
 Maecenas neque ex, dignissim et hendrerit a, vestibulum eget elit. Morbi vel interdum dui.
 Mauris lacinia sollicitudin mauris eu elementum. Donec at lacus neque. Sed porttitor ex at metus pellentesque suscipit. 
Duis mollis efficitur porttitor.
