@{
    ViewBag.Title = "Menubar";
}

<h2>Menubar</h2>
<ul id="menu">
    <li>
        @Html.ActionLink("Home","Index","Test")
    </li>
    <li>
        @Html.ActionLink("About", "About", "Test")
    </li>
    <li>
        @Html.ActionLink("Details", "Details", "Test")
    </li>
    <li>
        @Html.ActionLink("MOVIES", "Movies", "Test")
    </li>
</ul>