@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Proin sit amet erat in ex mattis luctus fringilla ac dui. 
    Cras eget purus ut massa tempus mollis. Sed convallis nisi eget eros consequat, 
    sed malesuada enim commodo. Cras ultrices justo in sapien dictum, in lobortis massa eleifend.
     Donec elementum, nulla eu vestibulum eleifend, massa mi aliquet erat, ac pellentesque leo nisl nec augue.
     Nam molestie commodo ex, sed vestibulum massa auctor nec. Vivamus fringilla purus sit amet tortor placerat,
     sed dapibus neque placerat. Vivamus ultricies placerat blandit. Maecenas enim magna, egestas sed mauris quis,
     semper ultricies orci.
</p>
