@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<p>
    Vestibulum tincidunt maximus elit, sed bibendum tortor facilisis eget. Fusce ut enim porta
    , posuere nisl eget, maximus diam. Vestibulum nec eros tincidunt, porttitor urna a, congue felis. 
    Duis fermentum ullamcorper purus, vel feugiat urna laoreet non. Maecenas ac arcu volutpat, porta arcu id,
     blandit nisi. Morbi id leo eget mi feugiat lobortis sed ut elit. Nulla at mauris et lectus luctus suscipit. 
    Pellentesque pretium, nisl quis malesuada fringilla, libero augue tincidunt felis, vitae tincidunt urna turpis a risus. 
    Nunc vulputate tellus non accumsan sodales. Vivamus ultricies elit in nibh congue maximus. Etiam vitae felis lobortis,
     facilisis diam non, pretium arcu. Fusce rhoncus ac dolor luctus auctor. Curabitur dolor libero, facilisis sed magna non, 
    lobortis rhoncus erat. Nunc eros nibh, sollicitudin sit amet feugiat elementum, pharetra pulvinar eros. Mauris vel ante mattis,
     viverra purus id, scelerisque risus.

    My Name is KHAN
</p>
