@{
    ViewBag.Title = "Menubar";
}

<h2>Menubar</h2>
<ul id="menu">
    <li>@Html.ActionLink("Home","Index","Employee")</li>
    <li>@Html.ActionLink("About Us", "About", "Employee")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Employee")</li>
</ul>
